@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}



@keyframes transition-out {
  from {
    opacity: 1;
    transform: translateY(0);
    rotate: 0;
  }
  to {
    opacity: 0;
    transform: translateY(-5rem);
  }
}

@keyframes transition-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

::view-transition-group(root) {
  animation-duration: 0.8s;
  animation-timing-function: ease-in-out;
}

::view-transition-old(root) {
  animation: 0.8s transition-out 0s ease-in-out;
}

::view-transition-new(root) {
  animation: 0.8s transition-in 0s ease-in-out;
}